
        /*Slideshow*/
        /*Slider*/
        .slider{
            width: 1000px;
            height: 600px;
            margin:auto;
            border-radius: 10px;
            overflow: hidden;
            border-style: solid;
            border-color: 2px #000000;
        }
        .slides{
            width: 500%;
            height: 500px; 
            display: flex;
        }
        .slides input{
            display: none;
        }

        .slide{
            width: 20%;
            transition: 360s;
        }

        .slide img{
            width: 1000px;
            height: 600px;
        }



        .navigation-manual{
            position: absolute;
            width: 1000px;
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }
        .manual-btn{
            border: 2px solid #e7ae41;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 360s;
        }
        .manual-btn:not(:last-child){
            margin-right: 40px;                                                                                       
        }

        .manual-btn:hover{
            background:#e7ae41;
        }

        #radio1:checked ~ .first{
            margin-left: 0;
        }

        #radio2:checked ~ .first{
            margin-left: -20%;
        }

        #radio3:checked ~ .first{
            margin-left: -40%;
        }

        #radio4:checked ~ .first{
            margin-left: -60%;
        }

        .navigation-auto{
            position: absolute;
            display: flex;
            width: 1000px;
            justify-content: center;
            margin-top: 560px;
        }

        .navigation-auto div{
            border: 2px solid #e7ae41;
            padding: 5px;
            border-radius: 10px;
            transition: 360s;
        }

        .navigation-auto div:not(:last-child){
            margin-right: 40px;
        }

        #radio1:checked ~ .navigation-auto .auto-btn1{
            background:#e7ae41;
        }

        #radio2:checked ~ .navigation-auto .auto-btn2{
            background:#e7ae41;
        }

        #radio3:checked ~ .navigation-auto .auto-btn3{
            background:#e7ae41;
        }

        #radio4:checked ~ .navigation-auto .auto-btn4{
            background:#e7ae41;
        }


        /*Landon Welcome*/
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

        #headerwel {
          background-image: linear-gradient(rgba(0, 5, 24, 0.8), rgba(0, 3, 15, 0.8)), url("../imgweb/bg.jpg");
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 50vh;
          position: relative;
        }
        :root {
          --main-color: #ffae00;
        }
        .theme-text {
          color: var(--main-color) !important;
        }
        .middlewel {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50vh;
          width: 100%;
          text-shadow: 2px 4px 6px rgb(0, 0, 0);
        }
        .middlewel h1 {
          font-size: 70px;
        }
        
        