@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    overflow-x: hidden;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/*Button*/
.btn {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.2px;
  opacity: 0.93;
}

.btn:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.btn:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
  color: #ffffff !important;
}

.btn-default:hover {
  background-color: #f9f9f9;
}

.btn-default:focus {
  background-color: #f9f9f9;
}

.btn-default:active {
  background-color: #f9f9f9;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #211ece !important;
  border: 1px solid #000b49 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #33b86c !important;
  border: 1px solid #33b86c !important;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  background-color: #29b6f6 !important;
  border: 1px solid #29b6f6 !important;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #ffd740 !important;
  border: 1px solid #ffd740 !important;
  color: #333333 !important;
}

.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #212121 !important;
  border: 1px solid #212121 !important;
  color: #ffffff;
}

.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #7e57c2 !important;
  border: 1px solid #7e57c2 !important;
  color: #ffffff;
}

.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
  background-color: #ec407a !important;
  border: 1px solid #ec407a !important;
  color: #ffffff;
}

.btn-custom.btn-default:hover {
  color: #333333 !important;
}

.btn-custom.btn-default:active {
  color: #333333 !important;
}

.btn-custom.btn-default:focus {
  color: #333333 !important;
}

.btn-custom.btn-primary {
  color: #6e8cd7 !important;
}

.btn-custom.btn-success {
  color: #33b86c !important;
}

.btn-custom.btn-info {
  color: #29b6f6 !important;
}

.btn-custom.btn-warning {
  color: #ffd740 !important;
}

.btn-custom.btn-danger {
  color: #ef5350 !important;
}

.btn-custom.btn-inverse {
  color: #212121 !important;
}

.btn-custom.btn-purple {
  color: #7e57c2 !important;
}

.btn-custom.btn-pink {
  color: #ec407a !important;
}

.btn-rounded {
  border-radius: 2em;
  padding: 6px 18px;
}

.btn-roundedOT {
  border-radius: 2em;
  padding: 5px 15px;
  margin-left: 20px;
}

.btn-custom {
  -moz-border-radius: 2px;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-transition: all 400ms ease-in-out;
  background: transparent;
  background-color: transparent !important;
  border-radius: 2px;
  border-width: 1px;
  transition: all 400ms ease-in-out;
}

.btn-custom:hover {
  color: #ffffff !important;
}

.btn-custom:focus {
  color: #ffffff !important;
}

.fileupload {
  overflow: hidden;
  position: relative;
}

.fileupload input.upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* ==============
  Panels
===================*/
.panel {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.panel .panel-body {
  padding: 20px;
}

.panel .panel-body p {
  margin: 0px;
}

.panel .panel-body p + p {
  margin-top: 15px;
}

.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}

.panel-default > .panel-heading {
  background-color: #fafafa;
  border-bottom: none;
  color: #797979;
}

.panel-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.panel-footer {
  background: #fafafa;
  border-top: 0px;
}

.panel-color .panel-title {
  color: #ffffff;
}

.panel-primary > .panel-heading {
  background-color: #6e8cd7;
}

.panel-success > .panel-heading {
  background-color: #33b86c;
}

.panel-info > .panel-heading {
  background-color: #29b6f6;
}

.panel-warning > .panel-heading {
  background-color: #ffd740;
}

.panel-danger > .panel-heading {
  background-color: #ef5350;
}

.panel-purple > .panel-heading {
  background-color: #7e57c2;
}

.panel-pink > .panel-heading {
  background-color: #ec407a;
}

.panel-inverse > .panel-heading {
  background-color: #212121;
}

.panel-border {
  border-radius: 3px;
}

.panel-border .panel-heading {
  background-color: #ffffff;
  border-top: 3px solid #ccc !important;
  border-radius: 3px;
  padding: 10px 20px 0px;
}

.panel-border .panel-body {
  padding: 15px 20px 20px 20px;
}

.panel-border.panel-primary .panel-heading {
  border-color: #6e8cd7 !important;
  color: #6e8cd7 !important;
}

.panel-border.panel-success .panel-heading {
  border-color: #33b86c !important;
  color: #33b86c !important;
}

.panel-border.panel-info .panel-heading {
  border-color: #29b6f6 !important;
  color: #29b6f6 !important;
}

.panel-border.panel-warning .panel-heading {
  border-color: #ffd740 !important;
  color: #ffd740 !important;
}

.panel-border.panel-danger .panel-heading {
  border-color: #ef5350 !important;
  color: #ef5350 !important;
}

.panel-border.panel-purple .panel-heading {
  border-color: #7e57c2 !important;
  color: #7e57c2 !important;
}

.panel-border.panel-pink .panel-heading {
  border-color: #ec407a !important;
  color: #ec407a !important;
}

.panel-border.panel-inverse .panel-heading {
  border-color: #212121 !important;
  color: #212121 !important;
}

.panel-fill {
  border-radius: 3px;
}

.panel-fill .panel-heading {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.panel-fill .panel-body {
  color: rgba(255, 255, 255, 0.85);
}

.panel-fill.panel-default .panel-body {
  color: #666;
}

.panel-fill.panel-default .panel-heading {
  background-color: transparent;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.panel-fill.panel-primary {
  background-color: #489ce7;
}

.panel-fill.panel-success {
  background-color: #58c386;
}

.panel-fill.panel-info {
  background-color: #50c1f4;
}

.panel-fill.panel-warning {
  background-color: #fcdc63;
}

.panel-fill.panel-danger {
  background-color: #ef7270;
}

.panel-fill.panel-purple {
  background-color: #9475cb;
}

.panel-fill.panel-pink {
  background-color: #ec6391;
}

.panel-fill.panel-inverse {
  background-color: #4a4a4a;
}

.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
  content: "\f067";
}

.panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
  content: "\f067";
}

.panel-group .panel .panel-heading a[data-toggle=collapse] {
  display: block;
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
  content: "\f068";
  display: block;
  float: right;
  font-family: "FontAwesome";
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.panel-group .panel .panel-heading .accordion-toggle {
  display: block;
}

.panel-group .panel .panel-heading .accordion-toggle:before {
  content: "\f068";
  display: block;
  float: right;
  font-family: "FontAwesome";
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}

.panel-group .panel-heading {
  padding: 12px 26px;
}

.panel-group.panel-group-joined .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}

.panel-group-joined .panel-group .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}

/*Header
@font-face {
  font-family: "Ubuntu";
  src: url(Ubuntu-Bold.ttf);
}
.welhead {
  margin: 0;
  color: rgb(0, 0, 0);
}

.mainhead {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.mainhead h1 {
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}
*/

/*# sourceMappingURL=tickets.css.map */
.page-item.active .page-link {
  z-index: 0;
  color: #000;
  background-color: #ffa600;
  border-color: #fdfdfd;
}

.page-link {
  color: #000;
} /*# sourceMappingURL=tickets.css.map *//*# sourceMappingURL=tickets.css.map */

/*TAble Inquiry Limit*/
.tbl-of{
  width: 120px;
  height: 65px;
  overflow: auto;
  
}

/*Landon Welcome*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#headerwel {
  background-image: linear-gradient(rgba(0, 5, 24, 0.8), rgba(0, 3, 15, 0.8)), url("../imgweb/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20vh;
  position: relative;
}
:root {
  --main-color: #ffae00;
}
.theme-text {
  color: var(--main-color) !important;
  
}
.middlewel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  text-shadow: 2px 4px 6px rgb(0, 0, 0);
}
.middlewel h1 {
  font-size: 70px;
}